html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
} 

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#pageLoader {
	background: #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 999999;
}

#wrapper {
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 999;

	#contentWrapper {
		display: table;
		height: 100%;
		position: relative;
		width: 100%;

		#content {
			display: table-cell;
			vertical-align: middle;
		}
	}

	#thumbnailSlider {
		display: block;
		position: relative;
		width: 100%;
	}
}

#imageHeading {
	display: block;
	margin: 0 auto 60px;
	width: 300px;
}

.swiper-slide {
	img {
		display: block;
		position: relative;
		width: 100%;
	}
}

@media only screen 
and (max-width : 999px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
		height: 100%;
		position: relative;
	}

	.mobileWrapper {
		display: table;
		height: 100%;
		left: 0;
		position: relative;
		right: 0;
		top: 0;
		width: 100%;

		.mobileContent {
			display: table-cell;
			padding: 60px;
			text-align: center;
			vertical-align: middle;

			h1 {
				font-family: 'Open Sans', sans-serif;
				font-size: 64px;
			}
		}
	}
}

@media only screen
and (min-width: 1000px) {
	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}
}