html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#wrapper {
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 999;

	#contentWrapper {
		display: table;
		height: 100%;
		position: relative;
		width: 100%;

		#content {
			display: table-cell;
			vertical-align: middle;
		}
	}

	#thumbnailSlider {
		display: block;
		position: relative;
	}
}

#imageHeading {
	display: block;
	margin: 0 auto 60px;
	width: 300px;
}

.swiper-slide {
	img {
		width: 100%;
	}
}